<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <commands>
      <command name="searchreport:item" type="DeanOBrien.Feature.SearchAnalytics.Commands.SearchReportCommand,DeanOBrien.Feature.SearchAnalytics"/>
    </commands>
    <settings>
      <setting name="SearchReportURL" value="/sitecore/shell/sitecore/client/applications/searchreport/" />
      <setting name="SearchPageUrlPartial" value="?q=" />
      <setting name="SearchPageParameterName" value="q" />
      <setting name="XMModeForSearchAnalytics" value="false" />
    </settings>
    <pipelines>
      <initialize>
        <processor type="DeanOBrien.Feature.SearchAnalytics.Pipelines.RegisterCustomRoute,DeanOBrien.Feature.SearchAnalytics" patch:before="processor[@type='Sitecore.Mvc.Pipelines.Loader.InitializeRoutes, Sitecore.Mvc']"/>
      </initialize>
      <processItem>
        <processor patch:after="*[@type='Sitecore.Analytics.Pipelines.ProcessItem.RegisterPageEvents,Sitecore.Analytics']" type="DeanOBrien.Feature.SearchAnalytics.Pipeline.RegisterCustomPageEvents, DeanOBrien.Feature.SearchAnalytics" resolve="true" />
      </processItem>
      <convertToXConnectEvent>
        <processor type="Sitecore.Analytics.XConnect.DataAccess.Pipelines.ConvertToXConnectEventPipeline.ConvertPageDataToPageViewEvent, Sitecore.Analytics.XConnect">
          <patch:attribute name="type" value="DeanOBrien.Feature.SearchAnalytics.Pipelines.ConvertPageDataToPageViewEvent, DeanOBrien.Feature.SearchAnalytics" />
          <patch:attribute name="resolve" value="true" />
        </processor>
      </convertToXConnectEvent>
    </pipelines>
    <services>
      <configurator type="DeanOBrien.Feature.SearchAnalytics.Configurator.ServicesConfigurator, DeanOBrien.Feature.SearchAnalytics" />
    </services>
  </sitecore>
</configuration>